/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav {
    list-style: none;
    display: flex;
    font-weight: 600;
    color: rgb(2,87,122);
}

.nav li {
    padding: 10px;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid rgb(1,48,63);
}

html {
    background-color: #e4f2f8;
    font-family: Arial;
    font-weight: 600;
}

.nav-links {
    text-decoration: none;
}

.nav li:hover {
    background: rgb(70, 185, 235);
}

a:visited {
    color: rgb(2,87,122);
}

::placeholder { 
    color: rgb(1,48,63);
    font-family: Arial;
    font-weight: 600;
    opacity: 0.5;
}
  
:-ms-input-placeholder { 
    color: rgb(1,48,63);
    font-family: Arial;
}
  
::-ms-input-placeholder { 
    color: rgb(1,48,63);
    font-family: Arial;
}
 